<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h1 align="center">欢迎登陆艾泽拉斯</h1>
<h2 align="center">如果想查看艾泽拉斯系统 <a th:href="@{/login}">请登记</a></h2>
<hr>
<div sec:authorize="isAuthenticated()">
    <h2><span sec:authentication="name"></span>，您好，您的角色有:
        <span sec:authentication="principal.authorities"></span></h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销"/>
    </form>
</div>

<div sec:authorize="hasAuthority('VIP1')">
<h3>兽人族</h3>
<ul>
    <li><a th:href="@{/level1/1}">萨尔</a></li>
    <li><a th:href="@{/level1/2}">奥格瑞姆</a></li>
    <li><a th:href="@{/level1/3}">杜隆坦</a></li>
</ul>
</div>
<div sec:authorize="hasAuthority('VIP2')">
<h3>人族</h3>
<ul>
    <li><a th:href="@{/level2/1}">瓦里安</a></li>
    <li><a th:href="@{/level2/2}">洛萨</a></li>
    <li><a th:href="@{/level2/3}">麦迪文</a></li>
</ul>
</div>
<div sec:authorize="hasAuthority('VIP3')">
<h3>古神</h3>
<ul>
    <li><a th:href="@{/level3/1}">克苏恩</a></li>
    <li><a th:href="@{/level3/2}">尤格萨隆</a></li>
    <li><a th:href="@{/level3/3}">亚煞极</a></li>
    <li><a th:href="@{/level3/4}">恩佐斯</a></li>
</ul>
</div>
</body>
</html>

